/* ============> COMPUTER <============ */

/* ------------- GENERAL ------------- */
/* -- RESET FOR ALL WEB BROWSERS --  */
* {
    margin:  0;
    padding: 0;
}

body {
    font-family: Montserrat, Arial, cursive;
    font-size:   20px;
}

section {
    margin:    auto;
    max-width: 1440px;
}

a:visited {
    color: white;
}

a {
    color:           white;
    text-decoration: none;
}

@font-face {
    font-family: "Montserrat";
    src:         url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src:         url("fonts/Montserrat-Regular.ttf");
    font-weight: 500;
}

.color-blue {
    color: rgb(3, 52, 108);
}

.color-white {
    color: rgb(255, 255, 255);
}

.bg-green {
    background-color: rgb(0, 237, 162);
    font-family:      Montserrat-Bold, Arial, sans-serif;
    padding:          0 0.25rem;
}

.bg-light-blue {
    background-color: rgb(2, 119, 189);
}

.bg-blue {
    background-color: rgb(3, 52, 108);
}

.bg-violet {
    background-color: rgb(116, 81, 235)
}

/* ------------- HEADER ------------- */
header section {
    display:         flex;
    justify-content: space-between;
    padding:         5vh 10vw 0 10vw;
}

header section > div {
    display:         flex;
    justify-content: center;
}

header section > div > div {
    display:         flex;
    justify-content: center;
    width:           30vw;
}

header section > div > div > p {
    font-size: 1.1rem;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size:     2em;
    margin-bottom: 2vh;
}

img {
    height: 100%;
    width:  100%;
}

.presentation {
    display:        flex;
    flex-direction: column;
}

/* ------------- MAIN ------------- */
main {
    display:         flex;
    justify-content: center;
}

main section {
    align-items:     center;
    display:         flex;
    justify-content: space-around;
    margin:          10vh 0;
}

main section h2 {
    margin-bottom: 2vh;
}

main section > div > p {
    font-size: 1em;
}

ul {
    margin-bottom: 1em;
    padding-left:  2vw;
}

ul li {
    font-size: 1em;
}

.big-font {
    font-family: Arial, cursive;
    font-size:   12.5em;
}

.mySkills {
    width: 50%;
}

.mySkills p {
    margin-bottom: 2vh;
}

/* ------------- FOOTER ------------- */
footer section {
    font-family: Arial, cursive;
    padding:     12vh 10vw;

}

footer section p {
    font-size:     1.6em;
    margin-bottom: 4vh;
}

h3 {
    font-size: 2.5em;
}

.social a {
    padding-right: 1vw;
}

ion-icon {
    border-radius: 5px;
    font-size:     4em;
    padding:       0.15em 0.15em 0.15em 0.15em;
}

/* ============> TABLET <============ */

/* ------------- HEADER ------------- */
@media screen and (max-width: 960px) {
    header section {
        flex-direction:  column-reverse;
        justify-content: center;
        padding:         5vh 10vw;
        text-align:      center;
    }

    img {
        width: 25%;
    }
}

/* -------------- MAIN -------------- */

@media screen and (max-width: 960px) {
    main section {
        flex-direction:  column;
        justify-content: center;
        padding:         5vh 10vw;
    }

    ul {
        padding-left: 10vw;
    }

    .mySkills h2 {
        text-align: center;
    }

    .mySkills {
        text-align: justify;
        width:      100%;
    }

    main section {

    }

}

/* ============> MOBILE <============ */

/* -------------- MAIN ---------------*/

@media screen and (max-width: 500px) {

    main section {
        margin:    0;
        max-width: 100%;
        padding:   0;
    }

    .big-font {
        display: none;
    }

    .mySkills h2 {
        margin-top: 2vh;
    }

    .mySkills p, .mySkills ul {
        margin-left:  5vw;
        margin-right: 5vw;
    }

}

/* -------------- FOOTER ---------------*/

@media screen and (max-width: 500px) {

    footer section h3, footer section p {
        font-size: 1.5em;
    }

    footer section p span {
        font-size: 0.8em;
    }

    footer section {
        padding: 10vw;
    }

    ion-icon {
        justify-content: center;
        margin:          auto;
        max-height:      20px;
        max-width:       20px;
    }
}