/* ------------- GENERAL ------------- */
/* -- RESET FOR ALL WEB BROWSERS --  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, cursive;
}

a:visited {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.color-blue {
    color: rgb(3, 52, 108);
}

.color-white {
    color: rgb(255, 255, 255);
}

.bg-green {
    background-color: rgb(0, 237, 162);
    padding: 0 0.25rem 0 0.25rem
}

.bg-light-blue {
    background-color: rgb(2, 119, 189);
}

.bg-blue {
    background-color: rgb(3, 52, 108);
}

.bg-violet {
    background-color: rgb(116, 81, 235)
}

/* ------------- HEADER ------------- */

header {
    display: flex;
    justify-content: center;
    max-width: 100vw;
}

@media screen and (max-width: 1200px) {
    header {
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
        padding: 0 1em 0 1em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    header > div > div {
        width: 40vw;
    }
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 1em;
}

header > div {
    display: flex;
    justify-content: center;
}

header > div > div {
    display: flex;
    justify-content: center;
    width: 30vw;
}

header > div > div > p {
    font-size: 1.1rem;
}

.presentation {
    display: flex;
    flex-direction: column;
}

/* ------------- MAIN ------------- */
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 7.5em 0 7.5em 0;

}

main > h2 {
    margin-bottom: -2em;
}

main > div > p {
    width: 40vw;
    font-size: 1em;
}

ul {
    padding-left: 4vw;
    margin-bottom: 1em;
}

ul li {
    font-size: 1.0em;
}

.big-font {
    font-size: 12.5em;
    width: 25vw;
}

@media screen and (max-width: 1200px) {
    .big-font {
        font-size: 10em;
    }
}

.mySkills p {
    margin-bottom: 2vh;
}

/* ------------- FOOTER ------------- */
footer {
    padding-top: 5vh;
}

footer p {
    margin-left: 20vw;
    margin-bottom: 4vh;
    font-size: 1.6em;
}

h3 {
    font-size: 2.5em;
    margin-left: 20vw;
}

.social {
    margin-left: 20vw;
}

ion-icon {
    font-size: 4em;
    margin-right: 1.5vw;
    margin-bottom: 5vh;
    padding: 0.2em 0.2em 0.2em 0.2em;
}
