/* ---------------------------------- */
/* -------------> LAPTOP <----------- */
/* ---------------------------------- */

/* ------------> GENERAL <----------- */

/* -> RESET FOR ALL WEB BROWSERS <-  */
* {
    margin:  0;
    padding: 0;
}

body {
    font-family: Montserrat, Arial, cursive;
    font-size:   20px;
    margin:      auto;
}

@font-face {
    font-family: "Montserrat";
    src:         url("fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-Bold";
    src:         url("fonts/Montserrat-Regular.ttf");
    font-weight: 500;
}

a:visited {
    color: white;
}

a {
    color:           white;
    text-decoration: none;
}

.color-blue {
    color: rgb(3, 52, 108);
}

.color-white {
    color: rgb(255, 255, 255);
}

.bg-green {
    background-color: rgb(0, 237, 162);
    font-family:      Montserrat-Bold, Arial, sans-serif;
    padding:          0 0.25rem 0 0.25rem;
}

.bg-light-blue {
    background-color: rgb(2, 119, 189);
}

.bg-blue {
    background-color: rgb(3, 52, 108);
}

.bg-violet {
    background-color: rgb(116, 81, 235)
}

header section, main section, footer section {
    margin:    auto;
    max-width: 1440px;
}

/* ------------> HEADER <------------ */

header section {
    display:         flex;
    height:          50vh;
    justify-content: space-around;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size:     2em;
    margin-bottom: 1em;
}

header > section > div {
    display:         flex;
    justify-content: center;
}

img {
    width: 100%;
}

.presentation {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    margin-right:    10vw;
    width:           30vw;
}

.presentation > p {
    font-size: 1.205rem;
}

/* ------------> MAIN <------------- */
main section {
    align-items:     center;
    display:         flex;
    flex-direction:  row;
    justify-content: center;
    margin-bottom:   7.5em;
    margin-top:      7.5em;
}

main > section > h2 {
    margin-bottom: -2em;
}

main > section > div > p {
    font-size: 1em;
}

ul {
    margin-bottom: 1em;
    padding-left:  2vw;
}

ul li {
    font-size: 1em;
}

.big-font {
    font-family: Arial, cursive;
    font-size:   12.5em;
}

.mySkills {
    width: 40vw;
}

.mySkills p {
    margin-bottom: 2vh;
}

/* ------------> FOOTER <------------- */
footer section {
    font-family: Arial, cursive;
    padding-top: 5vh;
}

footer section p {
    font-size:     1.6em;
    margin-bottom: 4vh;
    margin-left:   10vw;
}

h3 {
    font-size:   2.5em;
    margin-left: 10vw;
}

.social {
    margin-left: 10vw;
}

ion-icon {
    font-size:     4em;
    margin-bottom: 5vh;
    margin-right:  1.5vw;
    padding:       0.1em 0.1em 0.1em 0.1em;
}

/* ---------------------------------- */
/* -------------> MOBILE <----------- */
/* ---------------------------------- */

/* ------------> GENERAL <----------- */

/* ------------> HEADER <------------ */

@media screen and (max-width: 1200px) {
    header {
        display:         flex;
        justify-content: space-around;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    header > div > div {
        width: 40vw;
    }

}

/* -------------> MAIN <------------- */

@media screen and (max-width: 1200px) {
    .big-font {
        font-size: 10em;
    }
}

@media screen and (min-width: 1024px) {

    main {
        justify-content: center;
    }

    .big-font {
        margin-right: 10vw;
    }
}

@media screen and (max-width: 650px) {

    main {
        flex-direction: column;
    }
}

/* -----------> FOOTER <----------- */

/*



*/